.custom-modal .ant-modal-body {
    max-height: 60vh; /* Limits the height */
    overflow-y: auto; /* Enables vertical scrolling */
    padding-right: 10px; /* Prevents scrollbar overlap */
  }
  
  /* Customize scrollbar */
  .custom-modal .ant-modal-body::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-modal .ant-modal-body::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 4px;
  }
  
  .custom-modal .ant-modal-body::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  

/* modal.css */

@keyframes fadeScaleIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeScaleOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

.custom-modal .ant-modal-content {
  animation: fadeScaleIn 300ms ease-in-out forwards;
}

.custom-modal.closing .ant-modal-content {
  animation: fadeScaleOut 250ms ease-in-out forwards;
}
